<!-- app/views/tweets/index.html.erb-->
<div class="container">

  <div class="row"><!-- row \/-->

      <div class="col-md-4"><!-- col 4 \/ -->
        <div class="card"><!-- card \/ -->
          <% if user_signed_in? %>
              <div class="card-block">
                <h4 class="card-title">Your Account</h4>
                <h6 class="card-subtitle text-muted">Support card subtitle</h6>
              </div>
              <img src="..." alt="Card image">
              <div class="card-block">  
                <p class="card-text"><%= link_to current_user.username, user_path(current_user.username) %></p> <!-- vid #57-->
                <a href="#" class="card-link">Pins</a>
                <a href="#" class="card-link">Another link</a>
              </div>
            <% else %>
              <p class="card-text"><%= link_to "Sign up now!", signup_path %></p> <!--vid #63-->
          <% end %>
          </div><!-- card /\ -->
      </div><!-- col 4 /\ -->
         
      <div class="col-md-8"><!-- col 8 \/ -->
          <% if user_signed_in? %>  
            <%= link_to 'New Tweet', new_tweet_path %>
          <% end %>
          <p>  Tweets from everyone! </p>
          <ul class="list-group">
            <% @tweets.each do |tweet| %>
                <%= link_to tweet, class: "list-group-item list-group-item-action" do %><!--tweet = tweet_path(tweet) class, which makes whole line link to show page -->
                    <h5 class="list-group-item-heading"><%= tweet.user.username%></h5>
                    <% if tweet.image.present? %> <!-- vid #70 -->
                        <center><%= image_tag tweet.image %></center>
                    <% end %>
                    <p class="list-group-item-text"><%= tweet.content %></p>                
                <% end %>         
            <% end %>
          </ul>
      </div><!-- col 8 /\ -->

  </div><!-- row /\ -->

</div>
    



