<!-- <p id="notice"><%= notice %></p> we use flash messages so we don't need this line-->
<div class="container">
  <h1>Tweets</h1>
  <table class="table"><!-- added class=table -->
    <thead> <!-- the head of the table -->
      <tr>
        <th>User Email</th>
        <th>Content</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>  <!-- @tweets comes from tweets_controller.rb -->
      <% @tweets.each do |tweet| %>
        <tr> <!--list 5 things about the tweet -->
          <td><%= tweet.user.email%></td> <!--shows user's email -->
          <td><%= tweet.content %></td>
          <td><%= link_to 'Show', tweet %></td> <!--tweet is rails short for tweet_path(tweet) -->
          <% if tweet.user == current_user %> <!--hides edit & destroy  -->
              <td><%= link_to 'Edit', edit_tweet_path(tweet) %></td>
              <td><%= link_to 'Destroy', tweet, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <% if user_signed_in? %>  <!--added per vid 49 -->
    <%= link_to 'New Tweet', new_tweet_path %>
  <% end %>
</div>
